@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,*::before,::after{
    margin:0;
    padding:0;   
    box-sizing: border-box;
}

body{
    position:fixed;
    background-image: url(/assets/img3.jpg);
    width:100vw;
    height: 100vh;
    top:0;
    left:0;
    font-family: 'poppins';
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(to right bottom, #386a76, #2f616e, #255965, #1b505d, #0f4855); */
    /* margin: auto; */
    background-color: rgba(0, 0, 0, 0.5);
}

.mode{
    text-align: center;
    text-transform: uppercase;
    margin-left: 14rem;
    color: #cfe7f0;
    font-size: 2rem;
    font-weight: bolder;
}

.color-code{
    text-align:center;
    color: #cfe7f0;
    font-weight: bolder;
    margin-left: 14rem;
    padding-top: 2rem;
    font-size: 2rem;
}

h1{
    text-align: center;
    margin-left: 15rem;
    /* display:flex;
    justify-content: center;
    align-items: center; */
    font-size:3rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color:#A7CFDF;
    /* background: #A7CFDF;
background: linear-gradient(to right, #A7CFDF 11%, #23538A 82%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */

    text-transform: uppercase;
    font-style: italic;
}

input{
    margin-bottom: 2rem;
}

.initial-wrap{
    display: flex;
    flex-direction: column;
}

.initial{
    display:flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
}

.initial input {
    margin-right: 5rem;
}

.value{
    color:#cfe7f0;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left:1.8rem;
}

.slider {
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    height: 7px;
    width: 12rem;
    border-radius: 5px;
    background: #cfe7f0;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 30px;
    background: #1bb7da;
    cursor: pointer;
    border-radius: 150px;
  }

.board{
    width: 500px;
    height: 500px;
    display:grid;
    margin:1.5rem;
    /* position: relative; */
    background-color: rgba(255, 255, 255, 0);
    /* opacity:0.9; */
    box-shadow: 0px -1px 5px 12px rgba(157,163,163,0.75);
-webkit-box-shadow: 0px -1px 5px 3px rgba(157,163,163,0.75);
-moz-box-shadow: 0px -1px 5px 12px rgba(188, 214, 214, 0.75);
}

.border > div{
    border: 1px solid white ;
}

span{
    position: absolute;
    top:55%;
    left:57%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
    z-index: -1;
    font-size: 2.5rem;
    font-weight: bolder;
}

.border{
    border: 1px solid black;
}

.content{
    display: grid;
    place-items: center;
    margin-left: 5rem;
    margin-top: 2rem;
}

.buttons{
    display: flex;
    justify-content: center;
}

button::before,button::after{
    position: absolute;
    content:'';
    z-index: -1;
}

.buttons > button{
    position: relative;
    width: 10rem;
    font-size: 1.3rem;
    height: 4.5rem;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    border-radius: 25px; 
    z-index: 1;
    background: rgb(78, 107, 110);
    color:white;
    cursor:pointer;
    text-transform: uppercase;
    box-shadow: 5px 16px 4px -6px rgba(0,0,0,0.69);
-webkit-box-shadow: 5px 16px 4px -6px rgba(0,0,0,0.69);
-moz-box-shadow: 5px 16px 4px -6px rgba(0,0,0,0.69);
}

.buttons button:nth-child(1),button:nth-child(2){
    width: 11rem;
}

button:hover{
    border: 2px solid #1bb7da;
    color:#1bb7da;
    background-color: black;
    transform: scale(0.9);
}